<div class="jumbotron">
	<%= image_tag "logo.png", width: 300 %>
	<p>
		O DocDig é uma ferramenta que surgiu para facilitar a vida dos escritórios que trabalham com arquivos digitais (sejam eles digitalizados ou eletrônicos).
	</p>
	<p>
		Escolha uma das opções acima para mais informações, caso tenha alguma dúvida quanto a utilização do sistema, fique a vontade para mandar um e-mail para zarathonmaia@gmail.com, responderei o mais rápido possível.
	</p>

</div>